
<div class="container" > 

    <div class="row">
      <div >
            <img src="assets/welcome(1).png" alt="" width="400" height="200"/>
      </div>
      <div class="row">
      <div>
      <form style="margin: 50px;">
          <div class="form-group">
              <label for="email">Email</label>
              <input type="txt" id="email" name="email" class="form-control">
          </div>
          <div class="form-group">
              <label>Mot de passe </label>
              <input type="password" id="mdp" class="form-control">
          </div>       
          <div class="form-group">
            <label for="selection">Selectionner profil</label>
            <select id="selection" class="form-control">
                <option value="">Amateur d'animal</option>
                <option value="">Vétérinaire</option>
            </select>
          </div>              
          <br> 
          <button type="submit" class="btn btn-secondary">Se connecter</button>
      </form>
  </div>    
  </div>
  </div>
  </div>
  